/*Spacing for slider bar*/
#slider {
width: 100%;
margin-bottom: 10px;
}

/*Dimesions of map*/
#map {
height: 100%;
width: 100%;
}

/*Define size of legend box*/
.foo {
  float: left;
  width: 12px;
  height: 12px;
  margin: 2.5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

/*Choose colors for each legend box*/
.flood {
  background: #1E90FF;
}

.high {
  background: #cccc00;
}

.medium {
  background: #ffff66;
}

.low {
  background: #ffff99;
}

.forest {
  background: #996633;
}

.shrub {
  background: #ccffcc;
}

.grass {
  background: #66ff33;
}

.agriculture {
  background: #ff3300;
}

.bare {
  background: #ffe6cc;
}

.waterbody {
  background: #1E90FF;
}

.builtup {
  background: #336600;
}

/*Makes a green circle for legend*/
.circle_green {
    float: left;
    width: 5px;
    padding: 6px 6px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #00FF00;
}

/*Makes a green circle for legend*/
.circle_purple {
    float: left;
    width: 5px;
    padding: 6px 6px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #800080;
}
/*Spacing for words next to color boxes on legend (i.e. developed, open space, etc.*/
.space {
font-size: 12px;
margin: 0 !important;
}

#export-canvas {

    position: fixed;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -webkit-align-items: center;

    -ms-flex-align: center;

    align-items: center;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;

}

#export-canvas {

    pointer-events: none;

    z-index: 2000;

}
