{% extends "nepal_flood/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
<h6>Toggle Layers</h6>

<div align = "left">

  {% if select_forecast_location == "Rapti"%}

<li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Inundation Area/Depth</li>
<div class="foo flood"></div><p class="space">Water</p>

  <li><input type="checkbox" onClick="building.setVisible(!building.getVisible()); buildingFlood.setVisible(!buildingFlood.getVisible());" id="ch_building" name="building" checked>Buildings</li>
<div class="circle_green"></div><p class="space">&nbsp;Non-Flooded Building</p>
<div class="circle_purple"></div><p class="space">&nbsp;Flooded Building</p>


  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Land Cover</li>
<div class="foo forest"></div><p class="space">Forest</p>
<div class="foo shrub"></div><p class="space">Shrub</p>
<div class="foo grass"></div><p class="space">Grass</p>
<div class="foo agriculture"></div><p class="space">Agriculture</p>
<div class="foo bare"></div><p class="space">Bare Area</p>
<div class="foo waterbody"></div><p class="space">Waterbody</p>
<div class="foo builtup"></div><p class="space">Builtup</p>


  <li><input type="checkbox" onClick="population.setVisible(true);"  id="ch_population" name="population" >Population Density</li>
<div class="foo high"></div><p class="space">High</p>
<div class="foo medium"></div><p class="space">Medium</p>
<div class="foo low"></div><p class="space">Low</p>

  {% elif select_forecast_location == "Macheli"%}

<li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Inundation Area/Depth</li>
<div class="foo flood"></div><p class="space">Water</p>

  <!--<li><input type="checkbox" onClick="building.setVisible(!building.getVisible()); buildingFlood.setVisible(!buildingFlood.getVisible());" id="ch_building" name="building" checked>Buildings</li>-->
<!--<div class="circle_green"></div><p class="space">&nbsp;Non-Flooded Building</p>-->
<!--<div class="circle_purple"></div><p class="space">&nbsp;Flooded Building</p>-->


  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Land Cover</li>
<div class="foo forest"></div><p class="space">Forest</p>
<div class="foo shrub"></div><p class="space">Shrub</p>
<div class="foo grass"></div><p class="space">Grass</p>
<div class="foo agriculture"></div><p class="space">Agriculture</p>
<div class="foo bare"></div><p class="space">Bare Area</p>
<div class="foo waterbody"></div><p class="space">Waterbody</p>
<div class="foo builtup"></div><p class="space">Builtup</p>


  <!--<li><input type="checkbox" onClick="population.setVisible(true);"  id="ch_population" name="population" >Population Density</li>-->
<!--<div class="foo high"></div><p class="space">High</p>-->
<!--<div class="foo medium"></div><p class="space">Medium</p>-->
<!--<div class="foo low"></div><p class="space">Low</p>-->

  {% elif select_forecast_location == "Kandra"%}

<li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Inundation Area/Depth</li>
<div class="foo flood"></div><p class="space">Water</p>

  <!--<li><input type="checkbox" onClick="building.setVisible(!building.getVisible()); buildingFlood.setVisible(!buildingFlood.getVisible());" id="ch_building" name="building" checked>Buildings</li>-->
<!--<div class="circle_green"></div><p class="space">&nbsp;Non-Flooded Building</p>-->
<!--<div class="circle_purple"></div><p class="space">&nbsp;Flooded Building</p>-->


  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Land Cover</li>
<div class="foo forest"></div><p class="space">Forest</p>
<div class="foo shrub"></div><p class="space">Shrub</p>
<div class="foo grass"></div><p class="space">Grass</p>
<div class="foo agriculture"></div><p class="space">Agriculture</p>
<div class="foo bare"></div><p class="space">Bare Area</p>
<div class="foo waterbody"></div><p class="space">Waterbody</p>
<div class="foo builtup"></div><p class="space">Builtup</p>


  <!--<li><input type="checkbox" onClick="population.setVisible(true);"  id="ch_population" name="population" >Population Density</li>-->
<!--<div class="foo high"></div><p class="space">High</p>-->
<!--<div class="foo medium"></div><p class="space">Medium</p>-->
<!--<div class="foo low"></div><p class="space">Low</p>-->

  {% elif select_location == "Rapti" %}
<li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Inundation Area/Depth</li>
<div class="foo flood"></div><p class="space">Water</p>

  <li><input type="checkbox" onClick="building.setVisible(!building.getVisible()); buildingFlood.setVisible(!buildingFlood.getVisible());" id="ch_building" name="building" checked>Buildings</li>
<div class="circle_green"></div><p class="space">&nbsp;Non-Flooded Building</p>
<div class="circle_purple"></div><p class="space">&nbsp;Flooded Building</p>


  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Land Cover</li>
<div class="foo forest"></div><p class="space">Forest</p>
<div class="foo shrub"></div><p class="space">Shrub</p>
<div class="foo grass"></div><p class="space">Grass</p>
<div class="foo agriculture"></div><p class="space">Agriculture</p>
<div class="foo bare"></div><p class="space">Bare Area</p>
<div class="foo waterbody"></div><p class="space">Waterbody</p>
<div class="foo builtup"></div><p class="space">Builtup</p>


  <!--<li><input type="checkbox" onClick="population.setVisible(true);"  id="ch_population" name="population" >Population Density</li>-->
<!--<div class="foo high"></div><p class="space">High</p>-->
<!--<div class="foo medium"></div><p class="space">Medium</p>-->
<!--<div class="foo low"></div><p class="space">Low</p>-->

  {% elif select_location == "Macheli" %}
<li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Inundation Area/Depth</li>
<div class="foo flood"></div><p class="space">Water</p>

  <!--<li><input type="checkbox" onClick="building.setVisible(!building.getVisible()); buildingFlood.setVisible(!buildingFlood.getVisible());" id="ch_building" name="building" checked>Buildings</li>-->
<!--<div class="circle_green"></div><p class="space">&nbsp;Non-Flooded Building</p>-->
<!--<div class="circle_purple"></div><p class="space">&nbsp;Flooded Building</p>-->


  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Land Cover</li>
<div class="foo forest"></div><p class="space">Forest</p>
<div class="foo shrub"></div><p class="space">Shrub</p>
<div class="foo grass"></div><p class="space">Grass</p>
<div class="foo agriculture"></div><p class="space">Agriculture</p>
<div class="foo bare"></div><p class="space">Bare Area</p>
<div class="foo waterbody"></div><p class="space">Waterbody</p>
<div class="foo builtup"></div><p class="space">Builtup</p>


  <!--<li><input type="checkbox" onClick="population.setVisible(true);"  id="ch_population" name="population" >Population Density</li>-->
<!--<div class="foo high"></div><p class="space">High</p>-->
<!--<div class="foo medium"></div><p class="space">Medium</p>-->
<!--<div class="foo low"></div><p class="space">Low</p>-->

  {% elif select_location == "Kandra" %}
<li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Inundation Area/Depth</li>
<div class="foo flood"></div><p class="space">Water</p>

  <!--<li><input type="checkbox" onClick="building.setVisible(!building.getVisible()); buildingFlood.setVisible(!buildingFlood.getVisible());" id="ch_building" name="building" checked>Buildings</li>-->
<!--<div class="circle_green"></div><p class="space">&nbsp;Non-Flooded Building</p>-->
<!--<div class="circle_purple"></div><p class="space">&nbsp;Flooded Building</p>-->


  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Land Cover</li>
<div class="foo forest"></div><p class="space">Forest</p>
<div class="foo shrub"></div><p class="space">Shrub</p>
<div class="foo grass"></div><p class="space">Grass</p>
<div class="foo agriculture"></div><p class="space">Agriculture</p>
<div class="foo bare"></div><p class="space">Bare Area</p>
<div class="foo waterbody"></div><p class="space">Waterbody</p>
<div class="foo builtup"></div><p class="space">Builtup</p>


  <!--<li><input type="checkbox" onClick="population.setVisible(true);"  id="ch_population" name="population" >Population Density</li>-->
<!--<div class="foo high"></div><p class="space">High</p>-->
<!--<div class="foo medium"></div><p class="space">Medium</p>-->
<!--<div class="foo low"></div><p class="space">Low</p>-->
  {% endif %}


<form id='flood-form' action="{% url 'nepal_flood:home' %}" method="get">
    <h6>Select Location</h6>
    {% gizmo select_input select_location_select %}
    {% csrf_token %}
  <h6>Flood View</h6>
    {% gizmo button get_flood %}
</form>
<form id='forecast-form' action="{% url 'nepal_flood:home' %}" method="get">
      {% csrf_token %}

  <h6>Flood Forecast</h6>
    {% gizmo select_input select_forecast_location_select %}
    {% gizmo select_input forecast_date_picker_rapti %}
    {% gizmo select_input forecast_date_picker_macheli %}
    {% gizmo select_input forecast_date_picker_kandra %}
    {% gizmo select_input forecast_select %}
    {% gizmo button get_forecast %}

</form>
  <br/>
  <button id="gen-alert" class="btn btn-danger hidden">Generate Alert</button>
  <canvas id="export-canvas" class="hidden" hidden></canvas>
</div>

{% endblock %}

{% block app_content %}
<h5><b>Forecast Slider</b></h5>

<!--Forecast slider bar-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Snap to increments</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<p>
  {% if select_forecast_location %}
  <label id="label" for="amount">Flood Time (x3 hours):</label>

  {% else %}
  <label id="label" for="amount">Flood Depth (meter):</label>
  {% endif %}

  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:normal;">
</p>
<div id="slider"></div>
</body>
</html>
{%if range_list %}
<p>Start Date: {{ forecast_start }} </p>
{% endif %}
 <!--<p>Number of houses impacted: <span id="house_count">{{house_count_dict.0}}</span></p>-->
 <!--<p>Percent of agriculture impacted: <span id="agriculture_count">{{agriculture_count_dict.0}}</span>%</p>-->

<!--div tag for map-->
    <div id="map" class="map"></div>
<p></p>
{% gizmo plot_view timeseries_plot %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% if select_forecast_location == "Rapti"%}
<script>
  var range_list = {{ range_list }};
</script>
  <script src="{% static 'nepal_flood/js/rapti_forecast.js' %}" type="text/javascript"></script>

{% elif select_forecast_location == "Macheli"%}
<script>
  var range_list = {{ range_list }};
</script>
  <script src="{% static 'nepal_flood/js/machali_forecast.js' %}" type="text/javascript"></script>

{% elif select_forecast_location == "Kandra"%}
<script>
  var range_list = {{ range_list }};
</script>
  <script src="{% static 'nepal_flood/js/kandra_forecast.js' %}" type="text/javascript"></script>

{% elif select_location == "Rapti" %}

  <script src="{% static 'nepal_flood/js/rapti_view.js' %}" type="text/javascript"></script>

{% elif select_location == "Macheli"%}
  <script src="{% static 'nepal_flood/js/machali_view.js' %}" type="text/javascript"></script>

{% elif select_location == "Kandra"%}
  <script src="{% static 'nepal_flood/js/kandra_view.js' %}" type="text/javascript"></script>
{% endif %}

{% endblock %}